 {% include "layouts/header.njk" %}
{% block content %}
    <article class="post">
        <h1>{{ title }}</h1>
        {% if date %}
            <p>
                <small>
                    <strong>Published:</strong>
                    {{ date }}</small>
            </p>
        {% endif %}
        {% if image %}
            <img src="{{ image }}" alt="{{ title }}" style="max-width: 100%; margin: 20px 0;"/>
        {% endif %}
        {% if tags %}
            <ul class="post-tags">
                {% for tag in tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="post-body">
            {{ content | safe }}
        </div>
    </article>
{% endblock %}